/* Import Poppins Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins' ,sans-serif;
	font-size: 1em;
}

body {
	background: linear-gradient(-135deg, #D8B5FF, #1EAE98);
	min-height: 100vh;
}

header {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background: #1a1a1a;
	color: #fff;
	display: flex;
	justify-content: space-around;
}

header h3.text-logo {
	font-size: 1.3rem;
	cursor: pointer;
	align-self: center;
}

nav .nav-links {
	display: flex;
	height: 100%;
	position: relative;
	list-style: none;
}

nav .nav-links li {
	display: block;
	margin: 0 10px 0 10px;
	padding: 10px;
	line-height: 30px;
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
	background-color: transparent;
	transition: background-color, color .5s ease;
}

nav .nav-links li:hover {
	color: #1EAE98;
	background-color: #fff;
	border-bottom: 3px solid #000;
}
